.avatar{
    height: 100px;
    width: 100px;
    background-color: greenyellow;
    position: relative;
}
.avatar__full-name{
    height: 50px;
    position: absolute;
    bottom: 0;
    background-color: hotpink;
    width: 100%;
}
.position-right{
    float: right;
}
.position-left{
    float: left;
}
.main-content{
    background-color: indianred;
    width: 500px;
    height: 600px;
    padding: 30px;
}
.block{
    width: 70px;
    height: 70px;
    /* float: left; */
    background-color: lemonchiffon;
    /* margin-left: 30px; */
    float: right;
}
.row{
    width: 100%;
    height: 70px;
    float: left;
    margin-bottom: 30px;
}
.row .block{
    float: left;
}
.row .block:first-child {
    margin-right: 145px;
}
.row .block:last-child {
    margin-left: 145px;
}
.block__title{
    font-size: 11px;
    text-align: center;
}
.block__button{
    width: 50px;
    background-color: lightseagreen;
    margin: 10px;
}
.block__button_background-yellow{
    background-color: yellow;
}